<!DOCTYPE html>
<html>
<head>
	<title>Assignment</title>
</head>
<body>

{% if json_data and filename %}
	<div>
		{% for file in filename %}
		<img src="{{ url_for('static', filename='upload/'+file) }}">
		{% for json in json_data%}
		{% if json.Name == file %}
		<p> {{ json.Name}}
		<p> {{ json.Height - 10}}
		<p> {{json.Width - 10}}
		{% endif %}
		{% endfor %}
		{% endfor %}
		<p>{{json_data}}
		
		
	</div>

{% endif %}
<form method="post" action="/upload" enctype="multipart/form-data">
	<input type = "file" name = "file[]" draggable = "true" class = "box" multiple = "">
	<button type="submit" value="Submit"> Submit</button> 
	</p>
</form>

</body>
</html>

