<!DOCTYPE html>
<html>
<head>
	<title>Assignment</title>
	
	<meta name = "viewport" content = "width = device-width, initial-scale = 1">
  	<link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  	<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>

{% if json_data and filename %}
	
	<div class = "container">
		
		<div class = "carousel slide" id = "myCarousel" data-ride="carousel" data-interval = "5000" data-pause="false">
			<div class = "carousel-inner">
				<div class = "item active">
					<svg width= "1000" height="667"
  					xmlns="http://www.w3.org/2000/svg" > 
			        <image href = "{{ url_for('static', filename='upload/hello.jpg') }}" />
			        <rect x="10" y="10" width= "980" height="647" fill="none" stroke="red" stroke-width="1">
			    </div>
				{% for file in filename %}
				{% for json in json_data%}
				{% if json.Name == file %}
				<div class = "item ">
					<svg width= "json.get('Width')" height="json.get('Height')"
  					xmlns="http://www.w3.org/2000/svg">       
  					<image href="{{ url_for('static', filename='upload/' + file) }}" />
  					<rect x="10" y="10" width= "json.get('Width') - 20" height="json.get('Height') - 20" fill="none" stroke="red" stroke-width="1">
					</svg>
			    </div>
<!-- 			    {{json.get("Height")}}
 -->			    {% endif %}
			    {% endfor %}
			    {% endfor %}
			</div>

		  <a class = "left carousel-control" href = "#myCarousel" data-slide = "prev">
	      <span class = "glyphicon glyphicon-chevron-left"></span>
	    </a>
	    <a class = "right carousel-control" href = "#myCarousel" data-slide = "next">
	      <span class = "glyphicon glyphicon-chevron-right"></span>
	    </a>
		</div>
	</div>





























{% endif %}
<form method="post" action="/upload" enctype="multipart/form-data">
	<input type = "file" name = "file[]" draggable = "true" class = "box" multiple = "">
	<button type="submit" value="Submit"> Submit</button> 
	</p>
</form>

</body>
</html>

