<!DOCTYPE html>
<html>
<head>
	<title>Assignment</title>
	
	<meta name = "viewport" content = "width = device-width, initial-scale = 1">
  	<link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  	<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>

{% if json_data and filename and boundary%}
	
	<div class = "container">
		
		<div class = "carousel slide" id = "myCarousel" data-ride="carousel" data-interval = "5000" data-pause="false">
			<div class = "carousel-inner">
				<div class = "item active">
					<svg width= "1000" height="647"
  					xmlns="http://www.w3.org/2000/svg" > 
			        <image href = "{{ url_for('static', filename='upload/hello.jpg') }}" />
			        <rect x="{{boundary}}" y="{{boundary}}" width= "{{1000 - boundary * 2}}" height="{{647 - boundary * 2}}" fill="none" stroke="red" stroke-width="1">
			    </div>
				{% for file in filename %}
				{% for json in json_data%}
				{% if json.Name == file %}
				<div class = "item ">
					<svg width= "{{json.Width}}" height="{{json.Height}}"
  					xmlns="http://www.w3.org/2000/svg">       
  					<image href="{{ url_for('static', filename='upload/' + file) }}" width= "{{json.Width}}" height="{{json.Height}}" />
  					<rect x="{{boundary}}" y="{{boundary}}" width= "{{json.Width - boundary * 2}}" height="{{json.Height - boundary * 2}}" fill="none" stroke="red" stroke-width="1">
					</svg>
			    </div>
			    {% endif %}
			    {% endfor %}
			    {% endfor %}
			</div>

		  <a class = "left carousel-control" href = "#myCarousel" data-slide = "prev">
	      <span class = "glyphicon glyphicon-chevron-left"></span>
	    </a>
	    <a class = "right carousel-control" href = "#myCarousel" data-slide = "next">
	      <span class = "glyphicon glyphicon-chevron-right"></span>
	    </a>
		</div>
	</div>
{% endif %}


</body>
</html>