<!DOCTYPE html>
<html>
<head>
	<title>Assignment</title>
</head>
<body>

{% if filename %}
	<div>
		<img src="{{ url_for('static', filename='upload/'+filename) }}">
	</div>
{% endif %}
<form method="post" action="/upload" enctype="multipart/form-data">
    <dl>
		<p>
			<input type="file" name="imgfile" autocomplete="off" required>
		</p>
    </dl>
    <p>
		<button type="submit" value="Submit"> Submit</button> 
	</p>
</form>
{% if jsondata %}
<p> {{ jsondata}}
{% endif %}
<!-- 	{% if json_data %}
	<div>
		<p> {{json_data}} </p>
	</div>
	{% endif %} -->
</body>
</html>